@model IEnumerable<Tms2.Models.vehicleinformation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availableseats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.operable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availableseats )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.operable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.vehiclenumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.vehiclenumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.vehiclenumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
