@model IEnumerable<Tms2.Models.routeinformation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vehiclenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stops)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vehiclenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stops)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.rootnumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.rootnumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.rootnumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
